# =============================================================================
# VARIABLES DE ENTORNO — PLANTILLA HIJA (FRONTEND)
# =============================================================================

# URL de la API de la App Madre (Laravel)
VITE_MOTHER_API_URL=http://localhost:8000

# URL de la interfaz web de la App Madre (Vue)
VITE_MOTHER_APP_URL=http://localhost:5173

# Identificación única del Cliente OAuth registrado en la App Madre para esta App Hija
VITE_CLIENT_ID=tu_client_id_oauth_sso

# URL de redirección local/producción registrada en el SSO de la Madre para capturar el Callback
VITE_REDIRECT_URI=http://localhost:5190/callback

# -----------------------------------------------------------------------------
# CONFIGURACIÓN DE WEBSOCKETS (LARAVEL REVERB)
# -----------------------------------------------------------------------------
VITE_REVERB_APP_KEY=tu_reverb_app_key
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
